<%= form_for(surfboard) do |f| %>
  <% if surfboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surfboard.errors.count, "error") %> prohibited this surfboard from being saved:</h2>

      <ul>
      <% surfboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :length_in_cm %>
    <%= f.number_field :length_in_cm %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
